    <%- include("partials/header") -%>
    <header >
        <h1>Foro Multimedia de una persona "Lorem Ipsum" </h1>
    </header>    
    <main>
        <p>En este lugar voy a publicar muchas cosas multimedia por ejemplo : <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio quisquam, ab quibusdam totam quos deserunt assumenda <br> obcaecati non ut adipisci doloremque, quis rem placeat fugit. Non reprehenderit necessitatibus inventore architecto.<br>Espero verte seguido por aquí(o hasta que se me acabe la plata para seguir para seguir pagando el Host)</p> <br>
        <div class="col-12 d-flex justify-content-center">
            <img src="https://3.bp.blogspot.com/-mc9tWslvI4M/WYk66K5JCdI/AAAAAAAAAAs/X0yG1STdIMoPQl-UUaRaQiZ37U98RH7kACLcBGAs/w1200-h630-p-k-no-nu/Marketing-Automation-CRM-1000x450.png" alt="Imagen de muchas cosas Multimedia" id="imgForo" width="650px"> <br>
        </div>
        <div class="d-flex flex-column align-items-center">
            <button type="button" class="btn btn-primary" id="btn-newPost" >Nuevo Post</button><br>
            <div class="container text-center">
                <div class="row" id="container-row">
                    <% posts.forEach(post =>{ %>
                        <article class="col-12 d-flex justify-content-center" data-id="<%= post.id %>">

                            <div class="card" style="width: 30rem;" id="Card">
                                <img src="<%= post.url %>" class="card-img-top" alt="Una imagen">
                                <div class="card-body">
                                  <h5 class="card-title"><%= post.title %></h5>
                                  <p class="card-text"><%= post.description %></p>
                                  <div>
                                    <a  class="btn btn-danger" id="btn-delete">Eliminar</a>
                                    <a  type="" class="btn btn-primary" id="btn-edit">Editar Post</a>
                                  </div>
                                </div>
                              </div>
                            
                            </article>
                    <% }) %>
              </div>
            <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Nuevo Post</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="formulario" >
                    <div class="mb-3">
                        <label for="inputTitulo" class="col-form-label">Titulo del Post</label>
                        <input type="text" class="form-control" id="inputTitle">
                    </div>
                    <div class="mb-3">
                        <label for="inputDescripcion" class="col-form-label">Descripcion</label>
                        <input type="text" class="form-control" id="inputDescripcion">
                    </div>
                    <div class="mb-3">
                        <label for="inputURL" class="col-form-label">Imagen (URL)</label>
                        <input type="url" class="form-control" id="inputURL">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary" id="btn-publicar"></button>
                    </div>
                    </form>
                </div>
               
                </div>
            </div>
            </div>
        </div>   
    </main>         
  
    <%- include("partials/footer") -%>